<template>
  <div>
    <qrcode-stream @detect="onDetect" @error="onError"></qrcode-stream>
  </div>
  <div>
    <div>
      <p>Documento: {{ documento }}</p>
      <p>Actividad: {{ actividad }}</p>
      <p>Nota: {{ nota }}</p>
      <p>Descripción: {{ descripcion }}</p>
      <p>Error QR: {{ errorQR }}</p>
    </div>
    <div>
      <p>Datos de estudiante: {{ student }}</p>
      <button @click="studentQuery">Consultar estudiante</button><br><br>
    </div>
    <div>
      <p>Notas del estudiante</p>
      <p v-for="item in gradeStudent">
        {{ '* ' + item[2] + ', ' + item[4] + ', ' + item[0] + ', ' + item[3] }}</p>
      <button @click="getGrades">Obtener notas</button><br><br>
    </div>
    <p>Error query: {{ errorQuery }}</p>
    <div>
      <p>Resultado de subir nota: {{ resultNota }}</p>
      <button @click="saveGrade">Subir nota</button><br><br>
    </div>
    <button @click="clear">Limpiar datos</button><br><br>
    <button @click="getFile">Copia</button><br><br>
    <p>LOG</p>
    <p>Log QR: {{ result }}</p>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';
import { QrcodeStream } from 'vue-qrcode-reader'

const App = defineComponent({
  components: {
    QrcodeStream,
  },
  setup() {
    const result = ref();
    const errorQR = ref();
    const documento = ref();
    const actividad = ref();
    const nota = ref();
    const descripcion = ref();

    const onDetect = (detectedCodes: any) => {
      // const qr_json = detectedCodes.map(code => code.rawValue)
      // documento.value = qr_json[0].documento;
      result.value = JSON.stringify(
        detectedCodes.map(code => code.rawValue)
      )
      // documento.value = JSON.parse(result.value)[0]
      const json_data = JSON.parse(JSON.parse(result.value)[0])
      documento.value = json_data.documento;
      actividad.value = json_data.actividad;
      nota.value = json_data.nota;
      descripcion.value = json_data.descripcion;
    }

    const onError = (err: any) => {
      errorQR.value = `[${err.name}]: `
      if (err.name === 'NotAllowedError') {
        errorQR.value += 'you need to grant camera access permission'
      } else if (err.name === 'NotFoundError') {
        errorQR.value += 'no camera on this device'
      } else if (err.name === 'NotSupportedError') {
        errorQR.value += 'secure context required (HTTPS, localhost)'
      } else if (err.name === 'NotReadableError') {
        errorQR.value += 'is the camera already in use?'
      } else if (err.name === 'OverconstrainedError') {
        errorQR.value += 'installed cameras are not suitable'
      } else if (err.name === 'StreamApiNotSupportedError') {
        errorQR.value += 'Stream API is not supported in this browser'
      } else if (err.name === 'InsecureContextError') {
        errorQR.value +=
          'Camera access is only permitted in secure context. Use HTTPS or localhost rather than HTTP.'
      } else {
        errorQR.value += err.message
      }
    }

    // QUERYES
    const errorQuery = ref();
    const student = ref();
    const resultNota = ref();
    // const ip_server = "http://192.168.2.103:5000"
    // const ip_server = "http://45.236.129.108:5000"
    const ip_server = "http://45.236.131.232:5000"

    const getFile = async () => {
      try {
        const response = await fetch(ip_server + '/descargar', {
          method: "GET",
        })
        if (response.ok) {
          const blob = await response.blob();
          const url = window.URL.createObjectURL(blob);
          const a = document.createElement('a');
          a.href = url;
          a.download = 'notas.sqlite3';
          a.click();
          window.URL.revokeObjectURL(url);
          errorQuery.value = "Ninguno";
        } else {
          errorQuery.value = "No fue posible descargar el archivo";
        }

      } catch (error) {
        errorQuery.value = "Error en la conexión con el servidor";
      }
    }

    const executeQuery = async (sqliteQuery: string) => {
      try {
        const response = await fetch(ip_server + '/query', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ query: sqliteQuery })
        });
        const data = await response.json();
        if (response.ok) {
          errorQuery.value = "Ninguno";
          return data;
        } else {
          errorQuery.value = data.error;
          return {};
        }

      } catch (error) {
        errorQuery.value = "Error en la conexión con el servidor";
      }
    }
    const studentQuery = async () => {
      const query_sqlite = 'SELECT * ' +
        'FROM estudiantes ' +
        'WHERE estudiantes.documento =  ' + documento.value + ' ;';
      student.value = await executeQuery(query_sqlite);
    }

    const saveGrade = async () => {
      resultNota.value = "En proceso";
      const query_sqlite = 'INSERT INTO notas ' +
        '(timestamp, documento, id_actividad, descripcion, nota ) ' +
        'VALUES ' +
        '("' +
        getDay() + '", ' +
        documento.value + ', "' +
        actividad.value + '", "' +
        descripcion.value + '", ' +
        nota.value + ');';
      resultNota.value = await executeQuery(query_sqlite);
    }

    const getDay = () => {
      const currentDateTime = new Date();
      const year = currentDateTime.getFullYear();
      const month = String(currentDateTime.getMonth() + 1).padStart(2, '0'); // Se agrega 1 porque los meses van de 0 a 11
      const day = String(currentDateTime.getDate()).padStart(2, '0');
      const hours = String(currentDateTime.getHours()).padStart(2, '0');
      const minutes = String(currentDateTime.getMinutes()).padStart(2, '0');

      return `${year}-${month}-${day} ${hours}:${minutes}`;
    }

    const gradeStudent = ref();

    const getGrades = async () => {
      resultNota.value = "En proceso";
      // documento.value = 1123436019;
      const query_sqlite = '' +
        'SELECT notas.* ' +
        'FROM estudiantes ' +
        'INNER JOIN notas ON estudiantes.documento = notas.documento ' +
        'WHERE estudiantes.documento =  ' + documento.value + ' ;';
      gradeStudent.value = await executeQuery(query_sqlite);
      gradeStudent.value = gradeStudent.value.result;
    }

    const clear = () => {
      student.value = "";
      gradeStudent.value = "";
      resultNota.value = "";
      errorQuery.value = "";
    }

    return {
      // vars
      result,
      documento,
      actividad,
      nota,
      descripcion,
      errorQR,
      // methods
      clear,
      onDetect,
      onError,
      // vars query
      errorQuery,
      student,
      resultNota,
      gradeStudent,
      // methos query
      studentQuery,
      saveGrade,
      getGrades,
      getFile,
    }
  }
});


export default App;
</script>

<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}
</style>
