<template>
  <div>
    <h1>Generador de Códigos QR</h1>
    <label for="documento">Documento: </label>
    <input type="text" v-model="documento"><br>
    <label for="actividad">Actividad: </label>
    <input type="text" v-model="actividad"><br>
    <label for="nota">Nota: </label>
    <input type="text" v-model="nota" size="4"><br>
    <label for="descripcion">Descripción:</label><br>
    <textarea type="text" v-model="descripcion" rows="5" cols="40"></textarea><br>
    <button @click="generateQR">Generar QR</button><br><br>
  </div>
  <vue-qrcode
    :value="dataUrl"
  />
</template>

<script lang=ts>
import VueQrcode from 'vue-qrcode';
import {defineComponent, ref} from 'vue';

const App = defineComponent({
  components: {VueQrcode},
  setup(){
    const documento = ref('');
    const actividad = ref('');
    const descripcion = ref('');
    const nota = ref('');
    const dataUrl = ref('');

    const generateQR = () => {
      const data = {
        documento: documento.value,
        actividad: actividad.value,
        descripcion: descripcion.value,
        nota: nota.value
      }
      const jsonData = JSON.stringify(data);
      console.log(jsonData);
      onDataUrlChange(jsonData)
    };

    const onDataUrlChange = (data: string) => {
      dataUrl.value = data
    };

    return {
      documento,
      actividad,
      descripcion,
      nota,
      dataUrl,
      // Method
      generateQR,
      onDataUrlChange
    }
  },
});

export default App;
</script>
